<!DOCTYPE html>
<html>
<head>
    <title>CarmaTech API OS Env Variable</title>
</head>
<body>
    <span>JWT_EXPIRATION_TIME: <%= jwt_expiration_time %></span>
    <span>COGNITO_USER_MGMT_LAMBDA: <%= cognito_user_mgmt_lambda %></span>
    <span>USER_POOL_ID: <%= user_pool_id %></span>
    <span>TRANSLATOR_LAMBDA_NAME: <%= translator_lambda_name %></span>
    <span>IDENTITY_POOL_ID: <%= identity_pool_id %></span>
</body>
</html>
