<!DOCTYPE html>
<html>

<head>
    <title>CarmaTech API OS Env Variable</title>
</head>

<body>
    <div>
        <span>JWT_EXPIRATION_TIME: <%= jwt_expiration_time %></span>
    </div>
    <div>
        <span>COGNITO_USER_MGMT_LAMBDA: <%= cognito_user_mgmt_lambda %></span>
    </div>
    <div>
        <span>USER_POOL_ID: <%= user_pool_id %></span>
    </div>
    <div>
        <span>TRANSLATOR_LAMBDA_NAME: <%= translator_lambda_name %></span>
    </div>
    <div>
        <span>IDENTITY_POOL_ID: <%= identity_pool_id %></span>
    </div>
</body>

</html>